<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>TITLE</td>
                </tr>
            </thead>
            <tbody>
                <tr for(livro in data.livros)>
                    <td>${livro.id}</td>
                    <td>${livro.titulo}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
