<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>TITLE</td>
                </tr>
            </thead>
            <tbody>
                <tr for(book in data.books)>
                    <td>${book.id}</td>
                    <td>${book.titulo}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
